<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
  <mat-grid-list cols="2" rowHeight="100vh">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      style="width: 100%;">
      Login
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
      <app-login-info-box/>
    </mat-grid-tile>
  </mat-grid-list>
</body>
</html>
